<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710950277061-9umessfjunee8rt37v8ljttef9uapvih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710950277061-9umessfjunee8rt37v8ljttef9uapvih</string>
	<key>API_KEY</key>
	<string>AIzaSyAsgpeqDNPOWtbT9xthso-tossgVtrmBtw</string>
	<key>GCM_SENDER_ID</key>
	<string>710950277061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesApp</string>
	<key>PROJECT_ID</key>
	<string>notes-app-ketan</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-app-ketan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710950277061:ios:e680a50d2f43fef45145ac</string>
</dict>
</plist>